.container {
  padding: 100;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
}
